#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.form-container {
  background-color: #e5e4e4;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.title-input {
  width: 90%;
  padding: 14px 20px;
  margin: 9px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffff;
  color: #9b9b9b;
}

.body-input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffff;
  color: #797979;
}

.form-container button {
  background-color: #2ab2e0;
  border: none;
  color: white;
  padding: 14px 10px;
  margin: 20px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.post-list {
  background-color: #ffff;
  color: #000;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.post-list p {
  color: #797979;
}

.container > h1 {
  font-size: 50px;
}